<!-- Encabezado principal con un fondo de color 'info' y texto en blanco -->
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Título del encabezado con un ícono de usuario -->
        <h1>
          <i class="fas fa-user"></i>Editar Cliente
        </h1>
      </div>
    </div>
  </div>
</header>

<form #clienteForm="ngForm">
  <!-- Sección de botones de acción -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <!-- Botón para regresar al inicio -->
        <div class="col-md-3">
          <a routerLink="/" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i>Regresar al Inicio
          </a>
        </div>
        <!-- Botón para guardar los cambios -->
        <div class="col-md-3">
          <button (click)="guardar(clienteForm)" type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i>Guardar Cliente
          </button>
        </div>
        <!-- Botón para eliminar el cliente -->
        <div class="col-md-3">
          <button class="btn btn-danger btn-block" (click)="openModal()">
            <i class="fas fa-trash"></i>Eliminar Cliente
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <!-- Encabezado del formulario -->
              <h4>Editar Cliente</h4>
            </div>
            <div class="card-body">
              <!-- Campo de formulario para el nombre del cliente -->
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" autocomplete="new-password" #nombre="ngModel"
                       [(ngModel)]="cliente.nombre" [ngClass]="{'is-invalid': nombre.errors && nombre.touched}" required
                       minlength="2">
                <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">
                  Nombre requerido
                </div>
                <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
                  Debe contener al menos 2 caracteres
                </div>
              </div>

              <!-- Campo de formulario para el apellido del cliente -->
              <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" class="form-control" autocomplete="new-password" #apellido="ngModel"
                       [(ngModel)]="cliente.apellido" [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
                       required minlength="2">
                <div [hidden]="!apellido.errors?.['required']" class="invalid-feedback">
                  Apellido requerido
                </div>
                <div [hidden]="!apellido.errors?.['minlength']" class="invalid-feedback">
                  Debe contener al menos 2 caracteres
                </div>
              </div>

              <!-- Campo de formulario para el email del cliente -->
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" autocomplete="new-password" #email="ngModel"
                       [(ngModel)]="cliente.email" [ngClass]="{'is-invalid': email.errors && email.touched}" required
                       minlength="2" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
                  Email requerido
                </div>
                <div [hidden]="!email.errors?.['pattern']" class="invalid-feedback">
                  El correo debe tener un formato válido (ej: nombre&#64;dominio.com)
                </div>
              </div>

              <!-- Campo de formulario para el saldo del cliente -->
              <div class="form-group">
                <label for="saldo">Saldo</label>
                <input type="number" name="saldo" class="form-control" autocomplete="new-password" #saldo="ngModel"
                       [(ngModel)]="cliente.saldo" [ngClass]="{'is-invalid': saldo.errors && saldo.touched}" required
                       min="0" (keypress)="soloNumeros($event)">
                <div [hidden]="!saldo.errors?.['required']" class="invalid-feedback">
                  Saldo requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<ng-template #modalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">¿Deseas eliminar este registro?</h5>
  </div>
  <div class="modal-body">
    ¡No podrás revertir esto!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="confirmarEliminarCliente()">Sí, eliminar</button>
  </div>
</ng-template>
