<!-- Barra de navegación principal -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <!-- Contenedor para centrar el contenido y adaptarlo al tamaño de la pantalla -->
  <div class="container">
    <!-- Enlace a la página de inicio que actúa como marca de la barra -->
    <a routerLink="/" class="navbar-brand">Control Clientes</a>
    <!-- Botón para colapsar la barra en pantallas pequeñas -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <!-- Icono del botón de colapso -->
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Sección colapsable de la barra de navegación -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Lista de navegación principal -->
      <ul class="navbar-nav">
        <!-- Elemento de navegación para la página de inicio -->
        <li class="nav-item px-2">
          <!-- Enlace a la página de inicio -->
          <a routerLink="/" class="nav-link">Inicio</a>
        </li>
      </ul>

      <!-- Colocamos el dropdown en la esquina derecha -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <!-- Botón desplegable -->
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> Bienvenido
          </button>
          <!-- Menú desplegable -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <!-- Enlace a configuración -->
            <li><a routerLink="/configuracion" class="dropdown-item">
              <i class="fas fa-cog"></i> Configuración
            </a></li>
          </ul>
        </li>
        <!-- Botón de Login -->
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
