<!-- Pie de página con un fondo de color 'warning' y texto en blanco, con margen superior y relleno -->
<footer id="pie-pagina" class="bg-warning text-white mt-5 p-5">
  <!-- Contenedor que centra el contenido y lo adapta al tamaño de la pantalla -->
  <div class="container">
    <!-- Fila para organizar el contenido en columnas -->
    <div class="row">
      <!-- Columna que ocupa todo el ancho disponible -->
      <div class="col">
        <!-- Texto centrado que indica los derechos de autor -->
        <p class="lead text-center">
          Copyright &copy; Christian Fuentes Zelada
        </p>
      </div>
    </div>
  </div>
</footer>


